<style type="text/css">
  @font-face {
    font-family: "My Custom Font";
    src: url('../assets/I Love Glitter.ttf') format("truetype");
  }
  .customfont {
    font-family: "My Custom Font";
  }
</style>

<h2 class="customfont" style="font-size: 8vw; padding-left: 13vw;">* [Bridesmaids] *</h2>

<div style="width: 100%; display: flex;">
  <div style="width: 32%; text-align: center;">
    <img src="assets/Eleanor.jpg" style="width:95%; height: auto; border-radius: 50%; margin-bottom: 1%;">
    <h4 class="customfont" style="font-size: 3vw;">Eleanor Welsh</h4>
    <p>Sister of the Bride</p>
  </div>
  <div style="width: 32%; text-align: center;">
    <img src="assets/Kathryn.jpg" style="width:95%; height:auto; border-radius: 50%; margin-bottom: 1%;">
    <h4 class="customfont" style="font-size: 3vw;">Kathryn Welsh</h4>
    <p>Sister of the Bride</p>
  </div>
  <div style="width: 32%; text-align: center;">
    <img src="assets/Emily.jpg" style="width:95%; height:auto; border-radius: 50%; margin-bottom: 1%;">
    <h4 class="customfont" style="font-size: 3vw;">Emily Morris</h4>
    <p>Sister of the Groom</p>
  </div>
</div>
