<app-page-header header="* [Directions] *" leftMargin="15.5vw"></app-page-header>

<div class="flex-container">
  <div style="width: 39%; margin-right: 1%; text-align: center;">
    <img src="assets/directions_map.png" style="width: 90%; height: auto;">
  </div>

  <div style="width: 58%; margin-right: 2%">
    <div>
      <h4>SAT NAV</h4>
      <p>Please use postcode CF72 8JX then follow the highways directional signs from the M4.</p>
      <ul>
        <li><b>From London</b> Take the M4 west, exit at junction 34 in South Wales.</li>
        <li><b>From the Midlands & the North</b> Take the M5, then the M50/A449 to Newport and then M4 to junction 34.</li>
        <li>
          <b>From the South West of England</b> Take the M5 to either the M49 at Avonmouth or the M5/M4 interchange
          (near Bristol) and then over the Severn Crossing into Wales and exit at junction 34.
        </li>
        <li><b>From West Wales</b> Take the M4 east and exit at junction 34</li>
      </ul>
    </div>

    <div>
      <h4>FROM JUNCTION 34 OF THE M4</h4>
      <ul>
        <li>Take the exit signposted for Pendoylan and Hensol</li>
        <li>Take 1st right following signs for Pendoylan, Hensol and Vale Resort</li>
        <li>Take 1st left, signposted Hensol, Miskin and Vale Resort</li>
        <li>
          <b>For The Vale Resort</b>, Take 1st left, just before white house on the bend and go up the hill. The Vale Resort
          gates are on the right.
        </li>
        <li>
          <b>For Hensol Castle</b>, carry on around the bend pass the
          ambulance centre and houses then take a left turn and
          go straight on to Hensol Castle.
        </li>
      </ul>
    </div>
  </div>
</div>
