<style type="text/css">
  @font-face {
    font-family: "My Custom Font";
    src: url('../assets/I Love Glitter.ttf') format("truetype");
  }
  .customfont {
    font-family: "My Custom Font";
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/Home">
          <img src="assets/heart.png" style="height: auto; width: 2vw;">
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': item === route}" *ngFor="let item of navbarItems">
        <a class="nav-link" href="{{item}}">{{item}}</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          The Big Day <!-- TODO remove text -->
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let event of theDay" class="dropdown-item" href="{{event}}">{{event}}</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bridal Party <!-- TODO remove text -->
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let member of bridalParty" class="dropdown-item" href="{{member}}">{{member}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
