<style type="text/css">
  @font-face {
    font-family: "My Custom Font";
    src: url('../assets/The Heart Maze Demo.ttf') format("truetype");
  }

  @font-face {
    font-family: "My Custom Font 2";
    src: url('../assets/I Love Glitter.ttf') format("truetype");
  }

  .customfont {
    font-family: "My Custom Font";
  }

  .customfont2 {
    font-family: "My Custom Font 2";
  }
</style>

<h2 class="customfont2" style="font-size: 8vw; padding-left: 23vw;">* [Menu] *</h2>

<div style="text-align: center;margin-top: 1%; font-size: 200%;" class="customfont">
  <h2>Starter</h2>
  <h2>Main Course</h2>
  <h2>Dessert</h2>
  <h2>Coffee & Tea</h2>
</div>
