<style type="text/css">
  @font-face {
    font-family: "My Custom Font";
    src: url('../assets/I Love Glitter.ttf') format("truetype");
  }
  .customfont {
    font-family: "My Custom Font";
  }
</style>

<h2 class="customfont" style="font-size: 8vw; padding-left: 13vw;">* [Maid of Honour] *</h2>

<div style="width: 100%; text-align: center;">
  <img src="assets/Natalie.jpg" style="width:25%; height: auto; border-radius: 50%; margin-bottom: 1%;">
  <h4 class="customfont" style="font-size: 3vw;">Natalie Pearson</h4>
  <p>Friend of the Bride</p>
</div>

