<style type="text/css">
  @font-face {
    font-family: "My Custom Font";
    src: url('../assets/I Love Glitter.ttf') format("truetype");
  }
  .customfont {
    font-family: "My Custom Font";
  }
</style>

<h2 class="customfont" style="font-size: 8vw; padding-left: 13vw;">* [Local Hotels] *</h2>

<div style="text-align: center;">
  <h4>The Vale Resort</h4>
  <a href="https://www.valeresort.com/">https://www.valeresort.com/</a>
  <p>Free taxi shuttle to wedding venue which is on site.  Contact bride and groom regarding booking.</p>

  <h4>Llanerch Vineyard</h4>
  <a href="http://www.llanerch-vineyard.co.uk/">http://www.llanerch-vineyard.co.uk/</a>
  <p>Short taxi or 10 minute walk from the venue.  Please organise bookings individually.</p>

  <h4>Llantrisant Premier Inn</h4>
  <a href="https://www.premierinn.com/gb/en/home.html">https://www.premierinn.com/gb/en/home.html</a>
  <p>10 to 15 minute taxi ride.  Please organise bookings individually.</p>
  <!-- TODO check taxi and walking times on google maps -->
</div>
