<app-page-header header="* [Gift Request] *" leftMargin="13vw"></app-page-header>

<div style="text-align: center;margin-top: 1%; font-size: 200%;" class="customfont_pageContent">
  We made a commitment some time ago,<br>
  That together through life we were destined to go.<br>
  We purchased our furniture, linen and bedding,<br>
  In the fulfilling years leading up to our wedding.<br>
  What the future will hold for now is unknown,<br>
  So what would be great is a nest egg of our own.

  <br>
  <br>
  <br>
  Love Jamie & Lauren
</div>
