<app-page-header header="* [RSVP] *" leftMargin="24vw"></app-page-header>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)" *ngFor="let form of profileForms"> 
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <br>

  <label>
    RSVP:
    <input type="radio" value="attending" name="RSVP" formControlName="RSVP">Attending
    <input type="radio" value="not attending" name="RSVP" formControlName="RSVP">Not Attending
  </label>

  <br>

  <label>
    Dietary Requirements:
    <input type="radio" value="vegan" name="dietaryRequirements" formControlName="dietaryRequirements">Vegan
    <input type="radio" value="vegetarian" name="dietaryRequirements" formControlName="dietaryRequirements">Vegetarian
    <input type="radio" value="other" name="dietaryRequirements" formControlName="dietaryRequirements">Other
  </label>

  <br>
  
  <label>
    Food Allergies:
    <input type="text" formControlName="foodAllergies">
  </label>

<br>
  
  <label>
    Song Request:
    <input type="text" formControlName="songRequest">
  </label>

<br>
  

</form>
  
<button type="submit">Submit</button>